body { 
    width: 800px;
    margin-left:auto; 
    margin-right: auto; 
    margin-bottom: 12px;
    font-size: 16px;
}

h1 {
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 0;
}

h2 {
    font-weight: 400;
    font-size: 32px;
    border-bottom: 1px solid #a2a3a3;
    margin-bottom: 8px;
}

h3 {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 0;
}
p {
    margin-top: 0;
}

#header { 
    margin-bottom: 32px;
    text-align: center;
}

#footer {
    margin-top: 64px;
    text-align: center;
    margin-bottom: 32px;
}
